@model trs.Models.HIndexModel
@{
    ViewData["Title"] = "Login";
}


<h1>Welcome to Time Report System application</h1>

<form method="post">
  Please enter your username:
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter login" asp-for="username" value="jan">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>