@{
    ViewData["Title"] = "Entry Dialog";
}

<b>Please enter data for activity</b>

<form>
    <label>Project: </label>
    <select>
        <option>Project A</option>
        <option>Project B</option>
    </select>
</form>
<input type="number">time</input>
<textarea rows="5" cols="50"></textarea>>