@model trs.Models.EntryViewModel
@{
    ViewData["Title"] = "Entry Dialog";
}

<b>Please enter data for activity</b>

<form method="post" id="form1">
    <div>
    <label>Project: </label>
    @Html.DropDownListFor(Model=>Model.entry.code, Model.projectCodes)
        <!--<select class="form-control">
            <option>Project A</option>
            <option>Project B</option>
        </select>-->
    </div>
    <div>
        Time: <input type="number" min="1" class="form-control" value="0" asp-for="entry.time" required></input>
    </div>
    <div>
        Description:
        <!--<div></div>-->
        <textarea rows="5" cols="50" placeholder="Type description if needed" value="" asp-for="entry.description" class="form-control"></textarea>
    </div>
</form>

<div>
    <button type="submit" class="btn btn-primary" form="form1">Submit</button>
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Cancel</a>
</div>