@model trs.Models.EntryModel
@{
    ViewData["Title"] = "Entry Dialog";
}

<b>Please enter data for activity</b>

<form>
    <div>
    <label>Project: </label>
    @*Html.DropDownListFor()*@
        <select class="form-control">
            <option>Project A</option>
            <option>Project B</option>
        </select>
    </div>
    <div>
        Time: <input type="number" min="1" class="form-control" value="0" asp-for="time" required></input>
    </div>
    <div>
        Description:
        <!--<div></div>-->
        <textarea rows="5" cols="50" placeholder="Type description if needed" value="" asp-for="description" class="form-control"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>